.main-header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

/*.main-header .back-button {*/
/*}*/

.main-header [class$="_add-padding"] {
    padding: var(--small-margin);
    /*margin: var(--small-margin);*/
}

main-header__center {
    width: 100%;
}